@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --c1:#fef8b4;
    --c2: #FF7094;
    --c4: #FDF1E5;

    --c3: #70FFDB ;
    --c5:#B0F8E6;
}

@keyframes animateDash {
    to {
      stroke-dashoffset: 0;
    }
  }

svg{
	stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none; 
 }

#logoA{
    animation: animateDash 2s linear forwards infinite;
}

#layout{
    display: none;
}

.squiggle 
{
    display: inline-block;
    text-decoration: underline wavy;
    text-underline-offset: 6px;
    -webkit-text-decoration: underline wavy;
    text-decoration-color: var(--c2);  
}

.squiggle:hover{
 color:var(--c2);
 text-decoration: none;
}

h1, h2 {
    font-family: 'Patrick Hand SC', cursive;
}

.shadow:hover{
    box-shadow:none;
}

.shadow{
    box-shadow: 9px 8px 5px var(--c5);
}

.shadow2{
    box-shadow: 0px 8px 8px rgba(223, 222, 222, 0.698);
}



