.container{
    display: flex;
    background-color: var(--primary);
    padding: 0.75rem var(--edge-width) 0.75rem var(--edge-width);
    justify-content:space-between;
    
}

.linkBox{
    display: flex;
    justify-content:space-between;
    width: 35%;
    align-items: center;
}

.links{
    color:black;
    font-size: 1.3rem;
}

.links:hover{
    color: red;
}

.logo{
  min-width:fit-content;  
  text-align: center;
}
.logoLink > h1{
    padding: 0px;
    margin: 0px;
}

.logoLink > h3{
    padding: 0.5rem 0rem 0rem 0rem;
    margin: auto;
    
}

.logoLink{
    text-decoration: none;
}

.logoLink:hover{
    text-decoration: underline;
}
